:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --third-color: #424247;
    --font-family: 'Mulish', sans-serif;
    --first-fontsize: 26px;
    --second-fontsize: 20px;
    --third-fontsize: 16px;
}


/* Header */
nav {
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.HeroTravel {
    display: flex;
    width: 274px;
    height: 48px;
    gap: 5%;
}

.planelogo {
    width: 48px;
    height: 56px;
}

.text {
    display: flex;
    align-items: center;
    width: 201px;
    height: 45px;
    gap: 3px;
    font-family: var(--font-family);
    font-size: var(--first-fontsize);
}

.hero {
    color: var(--secondary-color);
}

.travel {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 18px;
}

/* Container for the icon */
.menu-icon {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}


/* Each line of the icon */
.menu-icon div {
    width: 100%;
    height: 4px;
    background-color: #333;
    /* Change color as needed */
    border-radius: 2px;
    /* Optional: adds rounded corners to the lines */
    transition: all 0.3s ease;
    /* Optional: smooth transition for animations */
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 506px;
    height: 43px;
}

.nav-link>ul {
    display: flex;
}

.nav-link li {
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}

.nav-link li>a {
    text-decoration: none;
    color: black;
}

.nav-link li :hover {
    color: var(--primary-color);
}

/* nested menu styles */
.nav-link li .dropdown {
    display: none;
}

.nav-link li:hover .dropdown {
    display: block;
    position:absolute;
    background-color: antiquewhite;
    padding-left: 10px;
    border-radius: 5px;
    color: var(--third-color);
    font-family: var(--font-family);
}



#home {
    color: var(--primary-color);
}

.bl {
    color: var(--third-color);
}

.header-bgm {
    width: 100%;
    height: 546px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.581), rgba(0, 0, 0, 0.077)), url('Resources/Images/Group 13 (1) (1).png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3% 0%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: var(--font-family);
    /* font-size: 40px; */
}

.exp{
    font-size: 50px;
}

.la {
    font-size: var(--third-fontsize);
}

.button-L {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 7px 12px;
    width: 60%;
    height: 50px;
    background-color: rgba(228, 232, 235, 0.448);
}

.button-L .btn {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: navajowhite;
    color: var(--third-color);
    padding-left: 7px;
    padding-right: 7px;
    transition: transform 0.3s ease;
}

.button-L .btn:hover {
    transform: scale(1.1);
}

.cl {
    background-color: var(--primary-color);
    /* color: azure; */
    font-weight: bold;
}

.cv {
    color: rgba(255, 255, 255, 0.899);
}

.dt{
    display: none;
    justify-content: end;
}

@media screen and (max-width: 576px) {

    .HeroTravel {
        /* display: flex; */
        width: 163px;
        height: 28px;
        /* gap: 17px; */
        font-size: 21px;
    }

    .text {   
        width: 120px;
        height: 27px;
        font-size: 21px;
        align-items: center;;  
      
    }

    .hero{
        font-size: 30px;
        align-items: center;
    }

    .travel{
        font-size: 30px;
        align-items: center;
    }

    .header-bgm {
        width: auto;
        height: auto;
    }

    .dt{
        display: block;
    }
    .mt{
        display: none;
    }
    .nav-link{
        justify-content: end;
    }

    .exp{
        font-size: 30px;
        align-items: center;
    }

    .la {
        font-size: 14px;
        width: 65vw;
        text-align: center;
    }

    .text {
        display: flex;
        align-items: center;
        width: 120px;
        height: 27px;
        gap: 3px;
        font-family: var(--font-family);
        font-size: var(--first-fontsize);
    }

    .button-L{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 60vw;
        height: 45vh;
        padding: 20px 0px;
        margin-bottom: 20px;
    }

    .button-L .btn{
        width: 75%;
        height: 60px;
        font-size: 16px;
    }
}