/* @import url('header.css'); */

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --third-color: #424247;
    --font-family: 'Mulish', sans-serif;
    --first-fontsize: 26px;
    --second-fontsize: 20px;
    --third-fontsize: 16px;
}

/* Body */
body {
    margin: 7vmin 7vmax;
    justify-content: center;
}

main{
    display: inline;
}

/* Our Popular Tours */
.our-popular-tours {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.txt1 {
    padding-right: 7%;
    color: var(--third-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
}

.ht1 {
    font-size: var(--first-fontsize);
    font-family: var(--font-family);
}

.pt1 {
    font-size: var(--second-fontsize);
    font-family: var(--font-family);
}

.bt1 {
    background-color: var(--primary-color);
    width: 174px;
    height: 52px;
    border-radius: 8px;
    font-family: var(--font-family);
    color: white;
    border: none;
    transition: transform 0.3s ease;
}

.txt1 .bt1:hover {
    transform: scale(1.1);
}

.hill {
    display: flex;
    transition: transform 0.3s ease;
    height: 550px;
}

.hill:hover {
    transform: scale(1.1);
}

.hamim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 44px;
   
}


.ht2{
    width: 50%;
    display: flex;
    justify-content: center;
    /* padding-left: 40%; */
    font-size: var(--first-fontsize);
    font-family: var(--font-family);
    color: var(--secondary-color);
}

.pt2{
    display: flex;
    justify-content: center;
    /* padding-left: 27%; */
    width: 50%;
    text-align: center;
    font-size: var(--second-fontsize);
    font-family: var(--font-family);
}


.im1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    height: 100%;

}

.im2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    height: 100%;

}

.im3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;

}

@media screen and (min-width: 576px) and (max-width: 992px){
    .our-popular-tours {
        display: block;
        padding-bottom: 44px;

    }

    .txt1 {
        padding-top: 20px;
        padding-right: 0%;
        padding-bottom: 40px;
    }
    
    .hill {
        width: 100%;
        flex-direction: column;
        border-radius: 17px;
        padding-bottom: 160px;
    }

    .hamim{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {

    /* Body */
    body {
        margin: 7vmin 7vmax;
        justify-content: center;
    }

    .our-popular-tours {
        display: block;

    }

    .txt1 {
        width: 100%;
        padding-top: 20px;
        padding-right: 0%;
        padding-bottom: 40px;
    }

    .hill {
        width: 100%;
        flex-direction: column;
        border-radius: 17px;
    }

    img{
        width: 100%;
        border-radius: 17px;
    }

    /* Choose Your Destination */
    .im1 {
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        border-radius: 17px;
    }

    .im2 {
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        border-radius: 17px;
    }

    .im3 {
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        border-radius: 17px;
    }

    .ht2{
        width: 100%;
        text-align: center;
    }

    .pt2{
        width: 100%;
        text-align: center;
    }
}
