:root{
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --third-color: #424247;
    --font-family: 'Mulish', sans-serif;
    --first-fontsize: 26px;
    --second-fontsize: 20px;
    --third-fontsize: 16px;
}

